html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 12px;
  transition: all 5s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}

:root {
  --background: #191b1c;
  --white: #f8f8f8;
  --shape: #2d2f31;

  --title: #ffffff;
  --text: #e1e1e6;
  --text-dark: #1a1523;

  --blue: #00cdff;
  --blue-light: #89e8ff;
  --blue-low: #00cdff20;

  --pink: #e93d82;
  --pink-low: #e93d8220;
}
