.container {
  display: flex;
  justify-content: center;

  position: fixed;

  width: 100%;
  padding: 5px 0;

  z-index: 1;

  background: var(--background);

  transition: all 1s linear;
}

.blur {
  background: rgb(25 27 28 / 50%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;

  align-items: center;

  padding: 1rem;

  border-radius: 4px;

  cursor: pointer;
  transition: color 1s linear;
}

.underline {
  position: absolute;
  height: 2.5rem;
  width: 70px;
  z-index: -1;

  background: var(--blue);
  -webkit-box-shadow: 0px 0px 60px 2px rgba(233, 61, 130, 0.85);
  box-shadow: 0px 0px 60px 2px rgba(233, 61, 130, 0.85);
}

.selected {
  color: var(--background);
}

.page {
  color: var(--blue);
}

.link:hover .page {
  color: var(--background);
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
