.container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  padding-top: 3rem;
  height: 100%;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header {
  font-size: 20px;
}

.name {
  color: var(--title);
  font-size: 28px;
  margin: 0;
}

.workAreas {
  font-size: 20px;
}

.description {
  font-size: 20px;
  width: 24rem;
}

.social {
  display: flex;
  gap: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  filter: blur(8px);
}

.box {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 50px 1px #00cdff, 0px 0px 50px 25px #e93d82;
  box-shadow: 0px 0px 50px 1px #00cdff, 0px 0px 50px 25px #e93d82;
}

.blackRole {
  display: block;
  border-radius: 50%;
}

.blackRole {
  filter: blur(8px);
  width: 280px;
  height: 280px;
  box-shadow: 1vmin 0 3vmin 2vmin rgb(233 61 130 / 50%),
    inset -1vmin 0 3vmin 4vmin var(--blue),
    -4vmin 0 35vmin 0 rgb(0 205 255 / 30%);
}

@keyframes roleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 600px) {
  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}
